In this notebook, data is read , analysed  and split into train and test sets.

https://www.kaggle.com/berkerisen/wind-turbine-scada-dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import datetime as dt

In [2]:
t_data = pd.read_csv("T1.csv")

In [3]:
t_data.head()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789
3,01 01 2018 00:30,419.645905,5.659674,516.127569,271.258087
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286

In [4]:
t_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50530 entries, 0 to 50529
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date/Time                      50530 non-null  object
 1   LV ActivePower (kW)            50530 non-null  float64
 2   Wind Speed (m/s)               50530 non-null  float64
 3   Theoretical_Power_Curve (KWh)  50530 non-null  float64
 4   Wind Direction (°)             50530 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1.9+ MB

In [7]:
t_data['Date'] = pd.to_datetime(t_data['Date/Time'])

In [8]:
t_data.head()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°),Date
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904,2018-01-01 00:00:00
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113,2018-01-01 00:10:00
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789,2018-01-01 00:20:00
3,01 01 2018 00:30,419.645905,5.659674,516.127569,271.258087,2018-01-01 00:30:00
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286,2018-01-01 00:40:00

In [9]:
t_data.isnull().sum()

Date/Time                        0
LV ActivePower (kW)              0
Wind Speed (m/s)                 0
Theoretical_Power_Curve (KWh)    0
Wind Direction (°)               0
Date                             0
dtype: int64

In [10]:
## Find the start date and end date of data 

t_data['Date'].min() , t_data['Date'].max()

(Timestamp('2018-01-01 00:00:00'), Timestamp('2018-12-31 23:50:00'))

One year data starting from Jan 2018 , at ever 10 mins.

Split into training data and test data.  
Training data - Jan to Dec last week .  
Test data - Last week of Dec 2018.

In [12]:
train = t_data.set_index(['Date']).loc[:'2018-12-25']
train.head()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
Date,,,,,
2018-01-01 00:00:00,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904
2018-01-01 00:10:00,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113
2018-01-01 00:20:00,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789
2018-01-01 00:30:00,01 01 2018 00:30,419.645905,5.659674,516.127569,271.258087
2018-01-01 00:40:00,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286

In [14]:
train.shape

(49666, 5)

In [13]:
test = t_data.set_index(['Date']).loc['2018-12-26':]
test.head()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
Date,,,,,
2018-12-26 00:00:00,26 12 2018 00:00,394.483887,11.23912,3350.492384,25.707260
2018-12-26 00:10:00,26 12 2018 00:10,369.472809,11.01617,3278.121125,25.653749
2018-12-26 00:20:00,26 12 2018 00:20,342.465393,10.68914,3151.278731,26.026560
2018-12-26 00:30:00,26 12 2018 00:30,379.872101,10.95354,3255.790569,25.367300
2018-12-26 00:40:00,26 12 2018 00:40,346.712891,10.38256,3007.924280,24.966379

In [15]:
test.shape

(864, 5)

In [20]:
train.columns.to_list()

['Date/Time',
 'LV ActivePower (kW)',
 'Wind Speed (m/s)',
 'Theoretical_Power_Curve (KWh)',
 'Wind Direction (°)']

In [23]:
## drop Date/Time column

train.drop(['Date/Time'] , axis = 1, inplace = True)
test.drop(['Date/Time'] , axis = 1, inplace = True)

In [24]:
## save the train and test 

train.reset_index().to_csv("train.csv" , index = False)
test.reset_index().to_csv("test.csv" , index = False)